<SubHeader [title]="'orangeCash' | translate"></SubHeader>
<ion-content class="cont">
  <AvailCredit credit="150"></AvailCredit>
  <MyInput type="number" [label]="'walletNum' | translate"></MyInput>
  <MyInput type="number" [label]="'transAmount' | translate"></MyInput>
  <div class="btnCont">
    <MyBtn
      width="70%"
      [label]="'transfer' | translate"
      (click)="showSuccessModal()"
    ></MyBtn>
  </div>
  <div *ngIf="state === 'showSuccess'">
    <SuccessAlert (hide)="hideModal()" (action)="actionModal()"></SuccessAlert>
  </div>
</ion-content>
