<ion-content>
  <SubHeader [title]="'paymentServices' | translate"></SubHeader>
  <div
    class="container"
    [dir]="dir"
    [ngClass]="dir === 'rtl' ? 'text-right' : null"
  >
    <div class="services">
      <div class="service" *ngFor="let screen of services">
        <MainItem [screen]="screen"></MainItem>
      </div>
    </div>
  </div>
</ion-content>
