<ion-content>
  <SubHeader [title]="'dslPayment' | translate" ></SubHeader>
  <AvailCredit credit="1150"></AvailCredit>
  <div class="container">
    <div class="inputCont">
      <MyInput
        [label]="'clientPhone' | translate"
        type="number"
        [(ngModel)]="phoneNum"
        (inputChange)="changePhoneNum($event)"
        [errorMsg]="errorMsg | translate"
      ></MyInput>
    </div>
    <div class="btnCont">
      <MyBtn [label]="'next' | translate" (click)="checkNumData()"></MyBtn>
    </div>
  </div>
  <LoadDataAlert
    *ngIf="state === 'loading'"
    (action)="cancel()"
  ></LoadDataAlert>
  <UserDataAlert
    *ngIf="state === 'userDataLoaded'"
    (action)="payBill()"
    (hide)="hideLoadModal()"
  >
  </UserDataAlert>
  <SuccessAlert
    [msg]="'opSuccess'"
    *ngIf="state === 'success'"
    (hide)="hideLoadModal()"
    (action)="back()"
  ></SuccessAlert>
</ion-content>
