.content {
  width: 80%;
  height: 100%;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--mainColor);
}
.label {
  font-family: "Cairo";
  font-weight: bold;
  font-size: 1.3em;
  color: var(--mainColor);
}
.filled {
  background-color: var(--mainColor);
}

.filled .label {
  color: var(--textColor);
}
