<SubHeader [title]="'topup' | translate"></SubHeader>
<ion-content class="content">
  <AvailCredit credit="120"></AvailCredit>
  <MyInput type="number" [label]="'phoneNumber' | translate"></MyInput>
  <MyInput type="number" [label]="'transAmount' | translate"></MyInput>
  <div class="btnCont">
    <MyBtn
      width="70%"
      [label]="'transfer' | translate"
      (click)="showSuccessModal()"
    ></MyBtn>
  </div>
  <div *ngIf="state === 'showSuccess'">
    <SuccessAlert (hide)="hideModal()" (action)="handleAction()"></SuccessAlert>
  </div>
</ion-content>
