<div class="container">
  <div class="content" [dir]="dir">
    <div class="rowData">
      <span class="head">{{ "walletNum" | translate }} :</span>
      <span class="data">0123456789</span>
    </div>

    <div class="rowData">
      <span class="head">{{ "amount" | translate }} :</span>
      <span class="data">20</span>
      <span class="egp">{{ "egp" | translate }}</span>
    </div>

    <div class="rowData">
      <span class="head">{{ "time" | translate }} :</span>
      <span class="data">09:55 2020-12-20</span>
    </div>
  </div>
  <div class="iconCont">
    <i class="fas fa-mobile-alt icon"></i>
  </div>
</div>
