.container {
  background-color: var(--mainColor);
  border-radius: 2vw;
  font-family: "Cairo";
  font-weight: bold;
  width: 90%;
  display: flex;
  list-style: gujarati;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  position: relative;
}
.head {
  color: var(--darkColor);
}
.iconCont {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0.15;
  transform: rotate(-45deg);
  left:1%;
  bottom: 34%;

}

.icon {
  font-size: 125px;
  position: relative;
  color:#fff;
}

.data {
  color: var(--textColor);
  margin-inline: 2vw;
}
.egp {
  color: var(--textColor);
}
.content {
  margin: 10%;
}
