<ion-content>
  <SubHeader [title]="'gsmBillCorporates' | translate"></SubHeader>
  <AvailCredit credit="1150"></AvailCredit>
  <div class="container">
    <div class="inputCont">
      <MyInput
        [label]="'companyCode' | translate"
        type="number"
        [(ngModel)]="codeNum"
        (inputChange)="changeCodeNum($event)"
        [errorMsg]="errorMsg | translate"
      ></MyInput>
    </div>
    <div class="btnCont">
      <MyBtn [label]="'next' | translate" (click)="checkNumData()"></MyBtn>
    </div>
  </div>
  <LoadDataAlert
    *ngIf="state === 'loading'"
    (action)="cancel()"
  ></LoadDataAlert>
  <CompanyDataAlert
    *ngIf="state === 'compDataLoaded'"
    (action)="payBill()"
    (hide)="hideLoadModal()"
  >
  </CompanyDataAlert>
  <SuccessAlert
    [msg]="'opSuccess'"
    *ngIf="state === 'success'"
    (hide)="hideLoadModal()"
    (action)="back()"
  ></SuccessAlert>
</ion-content>
