<MainHeader [title]="'appName' | translate"></MainHeader>
<ion-content>
  <div
    class="container"
    [dir]="dir"
    [ngClass]="{
      'text-right': dir === 'rtl'
    }"
  >
    <StackIntro
      [title]="'history' | translate"
      [desc]="'historyMsg' | translate"
    ></StackIntro>
    <div class="list">
      <div class="cardCont" *ngFor="let record of history">
        <CashHistory *ngIf="record.type === 'cash'"></CashHistory>
        <CreditHistory *ngIf="record.type === 'credit'"></CreditHistory>
      </div>
    </div>
  </div>
</ion-content>
