<ion-content>
  <div class="content">
    <img src="../../../assets/images/orange.png" class="image" alt="" />
  </div>
  <div *ngIf="activeModal === 'wrongConnType'">
    <ConnErrAlert [state]="state" (action)="tryAgain()"></ConnErrAlert>
  </div>
  <div *ngIf="activeModal === 'AuthErr'">
    <AuthErrAlert [state]="state" (action)="tryAgain()"></AuthErrAlert>
  </div>
</ion-content>
