<div class="menuContainer" [dir]="dir">
  <div class="header">
    <img
      [src]="user.avatarURL || '../assets/images/bob.jpg'"
      class="profileImg"
    />
    <div class="userData">
      <p class="userName">{{ user.username }}</p>
      <p class="userPhone">{{ user.phoneNumber || user.providerID }}</p>
    </div>
  </div>
  <div class="items">
    <div id="inbox-list">
      <ion-menu-toggle
        auto-hide="false"
        *ngFor="let p of appPages; let i = index"
      >
        <div
          class="menuItem"
          routerDirection="root"
          [routerLink]="p.url"
          lines="none"
          detail="false"
          routerLinkActive="selected"
        >
          <ion-icon
            slot="start"
            [ios]="p.icon + '-outline'"
            [md]="p.icon + '-sharp'"
            class="itemIcon"
          >
          </ion-icon>
          <ion-label class="itemLabel">{{ p.title | translate }}</ion-label>
        </div>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false">
        <div
          class="menuItem"
          routerDirection="root"
          lines="none"
          detail="false"
          (click)="changeLang()"
        >
          <ion-icon
            slot="start"
            [ios]="'language-outline'"
            [md]="'language-sharp'"
            class="itemIcon"
          >
          </ion-icon>
          <ion-label class="itemLabel">{{ "otherLang" | translate }}</ion-label>
        </div>
      </ion-menu-toggle>

      <div class="down">
        <ion-menu-toggle auto-hide="false">
          <div
            class="menuItem"
            routerDirection="root"
            lines="none"
            detail="false"
            (click)="logOut()"
          >
            <ion-icon
              slot="start"
              [ios]="'log-out-outline'"
              [md]="'log-out-sharp'"
              class="itemIcon orange"
            >
            </ion-icon>
            <ion-label class="itemLabel orange">{{
              "logout" | translate
            }}</ion-label>
          </div>
        </ion-menu-toggle>
      </div>
    </div>
  </div>
</div>
