.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Cairo";
  margin-top: 4vh;
  margin-bottom: 4vh;
  align-items: center;
}
.profileImg {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #333;
  margin-right: 5%;
  margin-left: 5%;
  filter: grayscale(100%);
}
.userName {
  font-weight: bold;
  color: var(--textColor);
}
.userPhone {
  font-weight: bold;
  color: var(--mainColor);
}
.items {
  font-family: "Cairo";
}
.menuItem {
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 24px;
  padding-inline: 5%;
  margin-block: 5%;
}
.menuItem.selected {
  background-color: var(--mainColor);
  color: var(--darkColor);
}

.itemIcon {
  font-size: 24px;
  margin-inline: 4%;
}
.userData p {
  margin-bottom: 0;
}

.orange{
  color : var(--mainColor)
}
