.content {
  // float: right;
  font-family: "Cairo";
  margin-inline: 7vw;
  margin-bottom: 5vh;
}
.label {
  font-size: 17px;
  color: grey;
  transition: 0.5s;
  position: relative;
  // z-index: 100;
  top: 30px;
  display: inline;
}
.animatedLabel {
  top: 0;
}

.input {
  border-width: 0;
  border-bottom-width: 2px;
  border-color: grey;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  background-color: transparent;
  font-family: 'Cairo';
}
.focused {
  box-shadow: unset;
  border-color: var(--mainColor);
}
.error {
  box-shadow: unset;
  border-color: red;
}
.errMsg {
  color: red;
  font-size: 0.8em;
  margin-top: 1vh;
}
