<div class="alertContainer" (click)="hideModal()">
  <div class="content" [@bounceUp] (click)="$event.stopPropagation()">
    <div class="imgCont">
      <img
        src="../../../../assets/images/success.png"
        alt="success img"
        class="img"
      />
    </div>
    <div class="msg">
      <p class="text" *ngIf="!msg">
        {{ "TransSuccessMsg" | translate }}
      </p>
      <p class="text" *ngIf="msg">
        {{ msg | translate }}
      </p>
    </div>
    <div class="btns">
      <MyBtn width="70%" [label]="'ok'|translate" (click)="handleAction()"></MyBtn>
    </div>
  </div>
</div>
