.alertContainer {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cairo";
  text-align: center;
  width: 100%;
}
.content {
  background-color: #fff;
  width: 80%;
  padding-inline: 10%;
  border-radius: 10px;
  padding-bottom: 5%;
  position: absolute;
}
.img {
  width: 25%;
  margin-block: 2vh;
}
.btns{
  height: 3em;
}
