.container {
  font-family: "Cairo";
}

.header {
  color: var(--mainColor);
  font-weight: bold;
}
.desc {
  color: var(--grayTextColor);
}

.cardsCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.cardComp {
  width: 80%;
  min-height: 20vh;
  margin-block: 1vh;
}
.loadCont {
  margin-block: 10vh;
}
.loadText,
.spinner {
  color: var(--mainColor);
}
.loadText {
  font-size: 1.5em;
}
