<MainHeader [title]="'appName' | translate"></MainHeader>
<ion-content>
  <div
    class="container"
    [dir]="dir"
    [ngClass]="{
      'text-right': dir === 'rtl'
    }"
  >
    <StackIntro
      [title]="'wallet' | translate"
      [desc]="'walletMsg' | translate"
    ></StackIntro>
    <div class="cardsCont" *ngIf="!loading">
      <CreditCard class="cardComp" [available]="walletBalance"></CreditCard>
      <CashCard class="cardComp" [available]="orangeCashBalance"></CashCard>
    </div>
    <div class="loadCont text-center" *ngIf="loading">
      <p class="loadText">{{ "loadWallet" | translate }}</p>
      <ion-spinner class="spinner"></ion-spinner>
    </div>
  </div>
</ion-content>
