<div class="alertContainer" (click)="hideModal()">
  <div class="content" [@bounceUp] (click)="$event.stopPropagation()">
    <div class="imgCont">
      <img
        src="../../../../assets/images/infoOrange.png"
        alt="success img"
        class="img"
      />
    </div>
    <div class="title">
      <p class="h5">{{ "loadData" | translate }}</p>
    </div>
    <div class="loading">
      <ion-spinner class="spinner"></ion-spinner>
    </div>
    <div class="btns">
      <MyBtn
        width="90%"
        class="myBtn"
        [label]="'cancel' | translate"
        (click)="handleAction()"
        [type]="'filled'"
      ></MyBtn>
    </div>
  </div>
</div>
