<div
  class="content"
  [dir]="dir"
  [ngStyle]="{
    textAlign: dir === 'rtl' ? 'right' : 'left'
  }"
>
  <p
    class="label"
    [ngClass]="{
      animatedLabel: state === 'focused' || ngModel
    }"
  >
    {{ label }}
  </p>
  <ion-textarea
    class="form-control input"
    [rows]='rows || 2'
    [autofocus]="true"
    (ionFocus)="toggleState()"
    (ionBlur)="toggleState()"
    [ngClass]="{
      focused: state === 'focused',
      error: errorMsg
    }"
    [(ngModel)]="ngModel"
    (ngModelChange)="inputChange.emit(ngModel)"
  >
  </ion-textarea>
  <p class="errMsg">{{errorMsg}}</p>
</div>
