.container {
  padding-block: 5vh;
}
.upper {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.img {
  width: 50%;
}

.btnCont {
  height: 8vh;
}
.errCont,
.spinnerCont {
  width: 100%;
  text-align: center;
  margin-top: 3vh;
}
.spinner {
  color: var(--mainColor);
}

.errMsg {
  color: red;
  font-family: "Cairo";
}
