<ion-content>
  <div class="container">
    <div class="upper">
      <img src="../../../assets/images/orange.png" alt="" class="img" />
    </div>
    <div class="form">
      <MyInput
        [label]="'username' | translate"
        (inputChange)="changeUserName($event)"
        [errorMsg]="usernameErr | translate"
      ></MyInput>
      <MyInput
        [label]="'password' | translate"
        type="password"
        [errorMsg]="passwordErr | translate"
        (inputChange)="changePassword($event)"
      ></MyInput>
    </div>

    <div class="spinnerCont" *ngIf="loading">
      <ion-spinner class="spinner"></ion-spinner>
    </div>

    <div class="btnCont" *ngIf="!loading">
      <MyBtn [label]="'login' | translate" (click)="login()"></MyBtn>
    </div>
    <div class="errCont">
      <p class="errMsg">{{ errMsg }}</p>
    </div>
  </div>
</ion-content>
