.content {
  margin-top: 7vh;
  font-family: "Cairo";
  margin-inline: 5vw;
}
.label{
  color:grey;
  font-size: 1em;
}
.selectCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2vh;
}
.selector {
  width: 100%;
  color: var(--mainColor);
  border-radius: 10px;
  border: 1px solid var(--mainColor);
  background-color: transparent;
  padding-inline: 2vw;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Cairo';
  font-size: 15px;
}
.select-icon{
  opacity: 1;
}


