<div
  class="content"
  [dir]="dir"
  [ngStyle]="{
    textAlign: dir === 'rtl' ? 'right' : 'left'
  }"
>
  <ion-label class="label">{{ label }}</ion-label>
  <div class="selectCont">
    <ion-select
      [value]="options[0] && options[0].value"
      class="selector"
      [okText]="'apply' | translate"
      [cancelText]="'back' | translate"
    >
      <ion-select-option [value]="option.value" *ngFor="let option of options">
        {{ option.name | translate }}
      </ion-select-option>
    </ion-select>
  </div>
</div>
