<ion-content>
  <SubHeader [title]="'notifications' | translate"></SubHeader>
  <div class="content">
    <div class="noteCont" *ngFor="let note of notifications">
      <NoteItem [noteData]="note"></NoteItem>
    </div>
  </div>
</ion-content>
