<div class="container">
  <div class="content" dir="rtl">

    <div class="rowData">
      <span class="head">رقم المحفظة :</span>
      <span class="data">0123456789</span>
    </div>

    <div class="rowData">
      <span class="head">القيمة :</span>
      <span class="data">20</span>
      <span class="egp">جنية</span>
    </div>

    <div class="rowData">
      <span class="head">الوقت :</span>
      <span class="data">09:55 2020-12-20</span>
    </div>
  </div>
  <div class="iconCont">
    <i class=" fas fa-mobile-alt icon"></i>
  </div>
</div>
