.container {
  background-color: var(--darkColor);
  border-radius: 2vw;
  font-family: "Cairo";
  font-weight: bold;
  width: 90%;
  display: flex;
  list-style: gujarati;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

}
.head {
  color: var(--mainColor);
}
.iconCont {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0.15;
  transform: rotate(-45deg);
}

.icon {
  font-size: 125px;
  position: relative;
}

.data {
  color: var(--textColor);
  margin-inline: 2vw;
}
.egp {
  color: var(--textColor);
}
.content {
  margin: 10%;
}
