<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      class="menu"
      type="overlay"
      [side]="menuSide"
      *ngIf="authState"
    >
      <sideMenu ></sideMenu>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
