ion-split-pane {
  ion-menu {
    --background: var(--darkColor);
    ion-content {
      --background: var(--darkColor);
      ion-list-header {
        --background: var(--darkColor);
        --color: #ffffff;
      }
      ion-item {
        --background: var(--darkColor);
        --color: #ffffff;
        ion-icon {
          padding-right: 10px;
        }
      }
    }
  }
}

#inbox-list {
  font-family: "Cairo";
}


