<div class="container" (click)="handlePress()">
  <div class="content">
    <div class="imgCont">
      <img src="../../../assets/images/orangeCash.png" class="img" />
    </div>
    <div class="itemData">
      <h5 class="title h5">{{ screen?.title | translate }}</h5>
      <p class="desc">
        {{ screen?.desc | translate }}
      </p>
    </div>
  </div>
</div>
