.container{
  width: 100%;
  margin-bottom: 5%;
  border:1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // height: 10vh;
}

.img{
  width: 5rem;
  // margin-left: 20px;
}
.title{
  color:var(--mainColor);
  font-weight: bold;
}
.desc{
  font-size: 0.75rem;
    /* height: 1em; */
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

