<ion-content>
  <SubHeader [title]="'contactUs' | translate"></SubHeader>
  <div
    class="container"
    [dir]="dir"
    [ngClass]="{
      'text-right': dir === 'rtl'
    }"
  >
    <StackIntro [desc]="'contactUsMsg' | translate"></StackIntro>

    <div class="formCont">
      <MyInput
        [label]="'email' | translate"
        [errorMsg]="emailReqErr | translate"
        (inputChange)="changeEmail($event)"
      ></MyInput>
      <MyInput
        [label]="'subject' | translate"
        [errorMsg]="subjectReqErr | translate"
        (inputChange)="changeSubject($event)"
      ></MyInput>
      <MyTextArea [label]="'howWeHelp' | translate" [rows]="2"></MyTextArea>
      <div class="btnCont" *ngIf="state === 'idial'">
        <MyBtn [label]="'send' | translate" (click)="submit()"></MyBtn>
      </div>
      <div class="loading" *ngIf="state === 'sending'">
        <ion-spinner class="spinner"></ion-spinner>
      </div>
    </div>
  </div>
  <SuccessAlert
    (action)="actionModal()"
    *ngIf="state === 'success'"
    [msg]="'msgSent' | translate"
  ></SuccessAlert>
</ion-content>
