<div class="container" [dir]="dir">
  <div class="content">
    <p class="availableText">{{ "availCredit" | translate }}</p>
    <div class="creditCont">
      <p class="credit">{{ credit || 0 }}</p>
      <p class="egp">{{ "egp" | translate }}</p>
    </div>
  </div>
</div>
