.container {
  width: 100%;
  // height: 15vh;
}
.content {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  box-shadow: 20px 20px 70px #bebebe, 20px 20px 70px #ffffff;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1vw;
  font-family: "Cairo";
  border-radius: 20px;
  align-self: center;
  padding-inline: 10px;
  padding-block: 1em;
  margin-bottom: 1em;
}
.availableText {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0;
}
.creditCont {
  flex-direction: row;
  display: flex;
  color: var(--mainColor);
  font-size: 1.5em;
}
.credit {
  font-weight: bold;
  margin-inline: 1vw;
  margin-bottom: 0;
}
.egp {
  margin-bottom: 0;
}
