<div class="alertContainer" (click)="hideModal()">
  <div class="content" [@bounceUp] (click)="$event.stopPropagation()">
    <div class="imgCont">
      <img
        src="../../../../assets/images/infoOrange.png"
        alt="success img"
        class="img"
      />
    </div>
    <div class="title">
      <p class="h5" *ngIf="state === 'idial'">{{ "connWay" | translate }}</p>
      <p class="h5" *ngIf="state === 'loading'">جاري التحقق من طريقة الاتصال</p>
    </div>
    <div class="msg" *ngIf="state === 'idial'">
      <p class="text">{{ "connWayMsg" | translate }}</p>
    </div>
    <div class="btns">
      <MyBtn
        width="90%"
        class="myBtn"
        [label]="'exit' | translate"
        (click)="handleExit()"
        [type]="'empty'"
        *ngIf="state === 'idial'"
      ></MyBtn>
      <MyBtn
        width="90%"
        class="myBtn"
        [label]="'tryAgain' | translate"
        (click)="handleAction()"
        [type]="'filled'"
        *ngIf="state === 'idial'"
      ></MyBtn>
      <div class="loading" *ngIf="state === 'loading'">
        <ion-spinner class="spinner"></ion-spinner>
      </div>
    </div>
  </div>
</div>
