<div class="alertContainer" (click)="hideModal()">
  <div class="content" [@bounceUp] (click)="$event.stopPropagation()">
    <div class="imgCont">
      <img
        src="../../../../assets/images/infoOrange.png"
        alt="success img"
        class="img"
      />
    </div>
    <div class="title">
      <p class="h5">{{ "companyData" | translate }}</p>
    </div>
    <div class="userData" [dir]="dir">
      <div class="rowData">
        <span class="head">{{ "companyName" | translate }}</span>
        <span class="data">{{ "user" | translate }}</span>
      </div>
      <div class="rowData">
        <span class="head">{{ "phoneNumber" | translate }}</span>
        <span class="data">{{ "0123456789" }}</span>
      </div>
      <div class="rowData">
        <span class="head">{{ "reqAmount" | translate }}</span>
        <span class="data">{{ "1500" }} {{ "egp" | translate }}</span>
      </div>
    </div>
    <div class="btns">
      <MyBtn
        width="90%"
        class="myBtn"
        [label]="'payNow' | translate"
        (click)="handleAction()"
        [type]="'filled'"
        *ngIf="state === 'idial'"
      ></MyBtn>
      <div class="loading" *ngIf="state === 'loading'">
        <ion-spinner class="spinner"></ion-spinner>
      </div>
    </div>
  </div>
</div>
