.content {
  width: 100%;
  // min-height: 10vh;
  border: 1px solid grey;
  border-radius: 10px;
  margin-block: 2vh;
  display: flex;
}

.imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dataCont {
  width: 100%;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img {
  width: 35vw;
  border-radius: 50%;
}

.title,
.head,
.body {
  font-family: "Cairo";
  margin-block: 3%;
}

.title {
  color: var(--mainColor);
  font-weight: bold;
}

.time{
  margin-inline: 5%;
  color:grey;
}

p.body {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
