<div class="container">
  <div
    class="content"
    [dir]="dir"
    [ngClass]="{
      'text-right': dir === 'rtl'
    }"
  >
    <div class="imgCont">
      <img src="../../../assets/images/infoOrange.png" alt="" class="img" />
    </div>
    <div class="dataCont">
      <div class="head">
        <span class="title h5">{{ noteData.title | translate }}</span>
        <span class="time h7">{{ noteData.time }}</span>
      </div>
      <p class="body">
        {{ noteData.body | translate }}
      </p>
    </div>
  </div>
</div>
