<MainHeader [title]="'appName' | translate"></MainHeader>
<ion-content>
  <div
    class="container"
    [dir]="dir"
    [ngClass]="dir === 'rtl' ? 'text-right' : null"
  >
    <StackIntro
      [title]="'main' | translate"
      [desc]="'mainMsg' | translate"
    ></StackIntro>
    <div class="services">
      <div class="service" *ngFor="let screen of screens">
        <MainItem [screen]="screen"></MainItem>
      </div>
    </div>
  </div>
</ion-content>
