.alertContainer {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cairo";
  text-align: center;
  width: 100%;
}
.content {
  background-color: #fff;
  width: 80%;
  padding-inline: 10%;
  border-radius: 10px;
  padding-bottom: 5%;
  position: absolute;
}
.img {
  width: 50%;
  margin-block: 2vh;
}
.btns {
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myBtn {
  width: 100%;
  height: 100%;
}
.loading {
  width: 100%;
}
.spinner {
  color: var(--mainColor);
}

.title{
  color: var(--mainColor);

}
