<div class="content" [dir]="dir">
  <!-- <ion-icon name="chevron-forward-outline" class="backIcon"></ion-icon> -->
  <i
    class="fas backIcon"
    [ngClass]="{
      'fa-chevron-right': dir === 'ltr',
      'fa-chevron-left': dir === 'rtl'
    }"
    (click)="back()"
  ></i>
  <p class="h3 title">{{ title }}</p>
</div>
