.content {
  background-color: var(--mainColor);
  height: 4em;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.title {
  font-family: "Cairo";
  color: var(--textColor);
  margin: 0;
  font-size: 1.5em;

}
.backIcon {
  font-size:2em;
  color: var(--textColor);
  cursor: pointer;
  margin-inline: 4%;
}
