.header {
  background-color: var(--darkColor);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.title {
  font-family: "Cairo";
  color: var(--textColor);
  margin: 0;
}
.menuIcon {
  color: var(--mainColor);
  font-size: 10vw;
}

.rhs {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // width: 30%;
}

.logo {
  height: 70%;
  margin-left: 1.5vw;
  margin-right: 2vw;
}

.noteCont {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemIcon{
  color:#fff;
  font-size: 150%;
}
