<div class="container1" [dir]="dir">
  <div class="header">
    <ion-buttons slot="start">
      <ion-menu-button class="menuIcon"></ion-menu-button>
    </ion-buttons>
    <div class="rhs">
      <!-- <p class="title">{{ title }}</p> -->
      <img
        src="../../../assets/images/orange.png"
        class="logo"
        routerLink="/main"
      />
    </div>
    <div class="noteCont" routerLink="/notifications">
      <ion-icon
        slot="start"
        [ios]="'notifications-outline'"
        [md]="'notifications-sharp'"
        class="itemIcon"
      >
      </ion-icon>
    </div>
  </div>
</div>
