.container {
  font-family: "Cairo";
  padding-block: 2vh;
}
.avail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-block: 1em;
}
.availText {
  font-size: 2em;
  font-weight: bold;
  color: var(--mainColor);
  margin-bottom: 0;
}
.cardsCont{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cardCont{
  width: 48%;
}
.btnCont{
  height: 8vh;
  width: 100%;
}
.alert-wrapper{
  font-family: 'Cairo';
}
