<SubHeader [title]="'traderTrans' | translate"></SubHeader>
<ion-content>
  <div class="container">
    <div class="avail">
      <p class="availText h1">{{ "availCredit" | translate }}</p>
    </div>
    <div class="cardsCont">
      <div class="cardCont">
        <CashCard available="100"></CashCard>
      </div>
      <div class="cardCont">
        <CreditCard available="320"></CreditCard>
      </div>
    </div>
    <DropDown
      [options]="operationOptions"
      [label]="'opType' | translate"
    ></DropDown>

    <MyInput type="number" [label]="'traderWalletNum' | translate"></MyInput>
    <MyInput type="number" [label]="'transAmount' | translate"></MyInput>
    <div class="btnCont">
      <MyBtn width="70%" [label]="'transfer' | translate"></MyBtn>
    </div>
  </div>
</ion-content>
