<div class="container">
  <p class="title">
    {{ "orangeCash" | translate }}
  </p>
  <div class="credit" [dir]="dir">
    <p class="number">{{ available || 0 }}</p>
    <p class="egp">{{ "egp" | translate }}</p>
  </div>
  <div class="iconCont">
    <i class="fas fa-wallet icon"></i>
  </div>
</div>
