.container {
  width: 100%;
  background-color: var(--darkColor);
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Cairo";
  flex-direction: column;
  color: var(--textColor);
  padding-block: 1vh;
  box-shadow: 10px 10px;
  position: relative;
  overflow: hidden;
  height: 100%;
  text-align: center;
}

// .title {
//   margin: 0;
//   font-size: 20px;

// }
// .credit {
//   display: flex;
//   margin-top: 7%;
// }
// .egp,
// .number {
//   font-size: 3.5vh;
//   margin-inline: 1vw;
//   margin-bottom: 0;
//   font-size: 15px;
// }

.iconCont{
 display: flex;
 width: 100%;
 height: 100%;
 position: absolute;
 justify-content: center;
 align-items: center;
 opacity: 0.1;
 transform: unset;
 right: unset;
 bottom: unset;
}

// .icon{
//   font-size: 15vh;
// }
